*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(152,152,152);
    background: -moz-linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#989898",endColorstr="#000000",GradientType=1); 
    margin-top: 30px;
}

// color changer
.background-gradient{
    height: 100dvh;
}
.color-picker{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin: 5px;
}
.color:hover{
    border: 3px solid white;
}



//different gradients
.blue{
    background: rgb(0,252,255);
    background: -moz-linear-gradient(0deg, rgba(0,252,255,1) 0%, rgba(9,104,121,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,252,255,1) 0%, rgba(9,104,121,1) 100%);
    background: linear-gradient(0deg, rgba(0,252,255,1) 0%, rgba(9,104,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00fcff",endColorstr="#096879",GradientType=1); 
}
.green{
    background: rgb(215,255,155);
    background: -moz-linear-gradient(0deg, rgba(215,255,155,1) 0%, rgba(36,194,44,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(215,255,155,1) 0%, rgba(36,194,44,1) 100%);
    background: linear-gradient(0deg, rgba(215,255,155,1) 0%, rgba(36,194,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7ff9b",endColorstr="#24c22c",GradientType=1); 
}
.pink{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,155,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,155,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,155,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fb9bff",GradientType=1); 
}
.black{
    background: rgb(152,152,152);
    background: -moz-linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#989898",endColorstr="#000000",GradientType=1); 
}
.white{
    background: rgb(205,205,205);
    background: -moz-linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcdcd",endColorstr="#ffffff",GradientType=1); 
}
.beige{
    background: rgb(139,69,0);
    background: -moz-linear-gradient(0deg, rgba(139,69,0,1) 0%, rgba(232,194,116,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(139,69,0,1) 0%, rgba(232,194,116,1) 100%);
    background: linear-gradient(0deg, rgba(139,69,0,1) 0%, rgba(232,194,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b4500",endColorstr="#e8c274",GradientType=1); 
}
.purple{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(157,94,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(157,94,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(157,94,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#9d5eff",GradientType=1); 
}
.orange{
    background: rgb(254,230,213);
    background: -moz-linear-gradient(0deg, rgba(254,230,213,1) 0%, rgba(249,105,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(254,230,213,1) 0%, rgba(249,105,0,1) 100%);
    background: linear-gradient(0deg, rgba(254,230,213,1) 0%, rgba(249,105,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fee6d5",endColorstr="#f96900",GradientType=1); 
}




//row counter
.row-counter, .stitch-counter{
    margin: 30px 0;
    width: fit-content;

    h1{
        font-size: 30px;
    }
    span{
        font-size: 20px;
    }
    .btn-increase, .btn-one{
        margin-left: 20px;
    }

    .btn-increase, .btn-decrease{
        border-radius: 100%;
    }
    // .btn-increase{
    //     font-size: 40px;
    // }
    // .btn-decrease{
    //     font-size: 15px;
    //     padding:5px;
    // }

    .btn-half, .btn-one{
        margin-bottom: 15px;
    }
    .btn-reset{
        margin-top: 10px;
        width: fit-content;
        padding: 5px 15px;
    }
}











// .row-counter, .stitch-counter{
//     padding-top: 50px;
//     // background-color: aqua;
//     display: flex;
//     justify-content: center;

//     .btn-decrease, .btn-increase, .btn-reset{
//         border-radius: 100%;
//         width: 30px;
//         height: 30px;
//     }

//     .btn-decrease{
//         background-color: red;
//         color: white;
//     }
//     .btn-decrease:hover{
//         background-color: rgb(255, 255, 255);
//         color: red;
//     }
//     .btn-increase{
//         background-color: green;
//     }
//     .btn-increase:hover{
//         background-color: rgb(255, 255, 255);
//         color: green;
//     }
//     .btn-reset{
//         background-color: grey;
//     }
//     .btn-resethover{
//         background-color: rgb(255, 255, 255);
//         color: grey;
//     }
// }