* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(152, 152, 152);
  background: linear-gradient(0deg, rgb(152, 152, 152) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#989898",endColorstr="#000000",GradientType=1);
}

.background-gradient {
  height: 100dvh;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.color:hover {
  border: 3px solid white;
}

.blue {
  background: rgb(0, 252, 255);
  background: linear-gradient(0deg, rgb(0, 252, 255) 0%, rgb(9, 104, 121) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00fcff",endColorstr="#096879",GradientType=1);
}

.green {
  background: rgb(215, 255, 155);
  background: linear-gradient(0deg, rgb(215, 255, 155) 0%, rgb(36, 194, 44) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7ff9b",endColorstr="#24c22c",GradientType=1);
}

.pink {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(251, 155, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fb9bff",GradientType=1);
}

.black {
  background: rgb(152, 152, 152);
  background: linear-gradient(0deg, rgb(152, 152, 152) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#989898",endColorstr="#000000",GradientType=1);
}

.white {
  background: rgb(205, 205, 205);
  background: linear-gradient(0deg, rgb(205, 205, 205) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcdcd",endColorstr="#ffffff",GradientType=1);
}

.beige {
  background: rgb(139, 69, 0);
  background: linear-gradient(0deg, rgb(139, 69, 0) 0%, rgb(232, 194, 116) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b4500",endColorstr="#e8c274",GradientType=1);
}

.purple {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(157, 94, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#9d5eff",GradientType=1);
}

.orange {
  background: rgb(254, 230, 213);
  background: linear-gradient(0deg, rgb(254, 230, 213) 0%, rgb(249, 105, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fee6d5",endColorstr="#f96900",GradientType=1);
}