* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(233, 146, 165) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e992a5",GradientType=1);
  margin-top: 30px;
}

.background-gradient {
  height: 100dvh;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.color:hover {
  border: 3px solid white;
}

.beige {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(215, 137, 50) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d78932",GradientType=1);
}

.orange {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(248, 116, 20) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f87414",GradientType=1);
}

.red {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(233, 69, 25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e94519",GradientType=1);
}

.pink {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(233, 146, 165) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e992a5",GradientType=1);
}

.lavender {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(199, 133, 233) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c785e9",GradientType=1);
}

.blue {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(5, 153, 156) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#05999c",GradientType=1);
}

.green {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(24, 166, 14) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#18a60e",GradientType=1);
}

.grey {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(95, 96, 90) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#5f605a",GradientType=1);
}

.row-counter, .stitch-counter {
  margin: 30px 0;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.row-counter h1, .stitch-counter h1 {
  font-size: 30px;
}
.row-counter span, .stitch-counter span {
  font-size: 20px;
}
.row-counter .btn-increase, .row-counter .btn-one, .stitch-counter .btn-increase, .stitch-counter .btn-one {
  margin-left: 20px;
}
.row-counter .btn-increase, .row-counter .btn-decrease, .stitch-counter .btn-increase, .stitch-counter .btn-decrease {
  border-radius: 40%;
}
.row-counter .btn-half, .row-counter .btn-one, .stitch-counter .btn-half, .stitch-counter .btn-one {
  margin-bottom: 15px;
}
.row-counter .btn-reset, .stitch-counter .btn-reset {
  margin-top: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
}